
/* site-content */


.site-content {
    margin: 150px 0 50px;
}

/* for footer in bottom part page */

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

.site {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.site-content {
    flex: 1 0 auto;
}

.site-footer-wrapper {
    flex: 0 0 auto;
}

/* blockquote */

.quote-motto-wrapper {
    padding-top: 30px;
    display: flex;
    justify-content: center;
}

.quote-motto__text,
.details-news blockquote {
    font-style: italic;
}

.quote-motto__author {
    text-align: right;
}

.quote-motto:before,
.quote-motto:after,
.details-news blockquote:before,
.details-news blockquote:after {
    font-size: 2em;
    color: #009900;
}

.quote-motto:before,
.details-news blockquote:before {
    content: '«';
    float: left;
    margin-top: -13px;
}

.details-news blockquote {
    font-style: italic;
}

.quote-motto:after,
.details-news blockquote:after {
    content: '»';
    float: right;
    margin-top: -53px;
}

.quote-motto p,
.details-news blockquote {
    margin: 1em 3em;
}

.details-news blockquote {
    margin: 40px 30px;
}

.details-news blockquote p {
    padding: 0 35px;
}

.details-news figcaption {
    text-align: center;
}

.details-news ul li {
    list-style-type: none;
}
.details-news ul li:before {
    color: #009900;
    font-size: 31px;
    font-weight: 400;
    content: "•";
    padding-right: 10px;
    position: relative;
    top: 5px;
}

.details-news ol li {
    margin: 22px 0;
}
.details-news ol li::marker {
    color: #009900;
    font-weight: bold;
}

/* comments */

.comment-list a,
.comment-list a:visited {
    color: #000000;
}

.comment-list a:hover {
    color: #009900;
    text-decoration: none;
}

.comment-metadata time {
    margin-right: 15px;
}