/* footer */

.site-footer-wrapper {
    background-color: #ffffff;
    box-shadow: 0 -10px 18px rgba(225,225,225,.79);
    padding-bottom: 40px;
}

.copyright-wrapper {
    text-align: center;
    padding: 30px 0;
}

.quote-motto-wrapper,
.social-networks {
    text-align: center;
}

.social-networks {
    padding-bottom: 30px;
}

.social-networks__title {
    font-size: 18px;
    padding-bottom: 20px;
}

.social-networks__list {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.social-networks__item {
    list-style-type: none;
}

.social-networks__link  {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    border: 1px solid #009900;
    border-radius: 50%;
    margin: 0 20px;
}

.social-networks__link:hover {
    background-color: #009900;
    opacity: 1;
}

.social-networks__link i {
    font-size: 18px;
    margin: 0 10px;
    color: #009900;
}

.social-networks__link:hover i {
    color: #ffffff;
}
