/* header */
.site-header-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    box-shadow: 0 5px 18px rgba(225,225,225,.79);
    padding: 20px 0;
}

.site-title__link:hover {
    color: #000000;
}

.site-title__first-part span,
.site-title__second-part span {
    color: #009900;
    letter-spacing: -6px;
}

.site {
    position: relative;
}

.site-header-wrapper a {
    color: #000000;
    text-decoration: none;
}

.site-header-wrapper a:hover {
    text-decoration: none;
}

@media screen and (min-width: 992px) {
    .site-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}


@media screen and (min-width: 480px) {
    .site-header__navigation-language {
        display: flex;
        justify-content: center;
    }

}

@media screen and (min-width: 992px) {
    .site-header__navigation-language {
        justify-content: flex-end;
    }
}

.header-navigation {
    display: flex;
    justify-content: flex-end;
}

.header-navigation a {
    display: inline-block;
    margin: 10px;
}

.header-navigation a:hover {
    color: #009900;
}

.header-navigation {
    display: flex;
    justify-content: center;
    text-align: center;
}

.header-navigation ul {
    margin: 0;
}

@media screen and (min-width: 480px) {
    .header-navigation ul {
        display: flex;
        margin: 0;
    }
}

.site-header__switch-language {
    display: flex;
    justify-content: center;
    margin: 10px;
}



.site-header__navigation-language li {
    list-style-type: none;
}

.header-navigation a:hover {
    opacity: 0.5;
}

.header-navigation__list-wrapper {
    display: flex;
    justify-content: flex-end;
}

.mobile-top-header  {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (min-width: 992px) {
    .mobile-top-header  {
        justify-content: space-around;
    }
}

/* hamburger-menu */

.hamburger-menu-wrapper {
    display: flex;
    align-items: center;
}

@media all and (min-width: 992px) {
    .hamburger-menu-wrapper {
        display: none;
    }
}

.hamburger-menu__line-1,
.hamburger-menu__line-2,
.hamburger-menu__line-3 {
    width: 30px;
    height: 4px;
    background-color: black;
}

.hamburger-menu__line-2,
.hamburger-menu__line-3 {
    margin-top: 5px;
}

.hamburger-menu__line-1--open {
    transform: rotate(45deg) translate(6px, 7px);
}

.hamburger-menu__line-3--open {
    transform: rotate(-45deg) translate(6px, -7px);
}

.hamburger-menu .hamburger-menu__line--hidden {
    background-color: transparent;
}

/* mobile menu */

.logotype-hamburger-menu {
    display: flex;
    justify-content: space-between;
}

.header-main {
    display: flex;
    justify-content: space-between;

}

@media all and (max-width: 992px) {

    .header-main {
        display: block;
    }

}

.navigation-main .navigation-main__list--mobile {
    display: block;
}