
.one-news {
    padding-bottom: 20px;
    margin-bottom: 70px;
    border-bottom:1px solid #c4c4c4;
}

.one-news__link {
    color: #000000;
}

.one-news__link:visited,
.one-news__link:hover {
    color: #000000;
    text-decoration: none;
}

.one-news__title {
    text-align: center;
    margin: 20px 0;
    flex-flow: row-reverse;
}

.one-news__image-entry-content {
    display: flex;
    justify-content: space-between;
}

.one-news:nth-child(2n) .one-news__image-entry-content {
    flex-flow: row-reverse;
}

.one-news:nth-child(2n) .one-news__image {
    margin-left: 10px;
}

.one-news__image {
    display: flex;
    justify-content: center;
    margin-right: 10px;
}

.one-news__image,
.one-news__entry-content {
    width: 50%;
}

/* details-news s*/

.details-news__entry-title {
    text-align: center;
}

.details-news__entry-meta {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 30px 0;
}

.details-news__main-image img {
    width: 100%;
}
